<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Authority">

	<resultMap id="UsrAuth" type="UsrAuthVO">
		<result property="menuId"     	column="MENU_ID"    />
		<result property="userId"     	column="USER_ID"    />
		<result property="insertYn"   	column="INSERT_YN"  />
		<result property="selectYn"   	column="SELECT_YN"  />
		<result property="modifyYn"   	column="MODIFY_YN"  />
		<result property="deleteYn"   	column="DELETE_YN"  />
		<result property="uploadYn"   	column="UPLOAD_YN"  />
		<result property="downYn"     	column="DOWN_YN"    />
	</resultMap>
	
	
	<select id="selectUsrAuthList" parameterType="map" resultMap="UsrAuth">
		SELECT
			UA.MENU_ID
			,UA.USER_ID
			,CASE WHEN UA.INSERT_YN = 'Y' THEN 'O' ELSE 'X' END INSERT_YN
			,CASE WHEN UA.SELECT_YN = 'Y' THEN 'O' ELSE 'X' END SELECT_YN
			,CASE WHEN UA.MODIFY_YN = 'Y' THEN 'O' ELSE 'X' END MODIFY_YN
			,CASE WHEN UA.DELETE_YN = 'Y' THEN 'O' ELSE 'X' END DELETE_YN
			,CASE WHEN UA.UPLOAD_YN = 'Y' THEN 'O' ELSE 'X' END UPLOAD_YN
			,CASE WHEN UA.DOWN_YN = 'Y' THEN 'O' ELSE 'X' END DOWN_YN
		FROM T_USER_AUTH UA 
			JOIN T_USER_MST UM
			ON UA.USER_ID = UM.USER_ID
		WHERE 1=1
			AND UM.USER_ID = #{userId}
			
		ORDER BY MENU_ID
		
	</select>
	
</mapper>
		
