@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	min-width: 1200px;
	background-color: #ffffff;
	/*background-image: url(img/main1.png);*/
	/*color: #ffffff;*/
	font-family: 'NanumBarunGothicWeb', 'Nanum Gothic', 'doum', 'sans-serif', 'sans-serif';
	letter-spacing:0.015em;
	font-size: 10px;
	padding:0px;
}

a {
	/* color: #23dbdb; */
	text-decoration: none;
}

a:hover {
	color: #000;
}
ol, ul {
	list-style: none;
	padding:0px;
}
#wrap {
	position: relative;
}

.inner {
	padding: 0 100x;

}

.relative {
	position: relative;
}
.menubar {
    background:rgb(0,0,0); opacity:0.7;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* HEADER */
#wrap > header {
	background-color: #0072c6;
	padding: 30px 0;
}
#header {padding:0 10px;}
.logo_wrap {
	position: relative;
	padding:14px 0 5px;
	border-bottom:2px solid #3f527a;
}

.logo {
	display: inline-block;
	font-size: 0;
	padding-top:15px;
}
#navigation {
	position: relative;
	/* top: 0;
	bottom: 0; */
	padding: 0 10px;
	/* width: 100%; */
	height: 39px;
	border-bottom: 3px solid #2862a7;
}

#menu-toggle {
	display: none;
	float: right;
}

#main-menu > li {
	/* display: inline-block; */
	float: left;
	margin-left: 2px;
}

#main-menu > li:first-child {
	margin-left: 0;
}

#main-menu > li.parent {
	background-size: 7px 7px;
	background-repeat: no-repeat;
	background-position: left center;
}

#main-menu > li.login > a {
	padding-left: 250px;
}

#main-menu > li > a {
	display: block;
	width: 201px;
	height: 39px;
	color: #fff;
	font-weight:bold;
	font-size: 17px;
	line-height: 39px;
	text-align: center;
	text-decoration:none;
	background: #2862a7;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
}

#main-menu > li:hover > a,
#main-menu > li.current-menu-item > a {
	font-weight:bold;
	color: #fff;
	background-color: #5f54dd; 
}

/* HEADER > MENU > DROPDOWN */
#main-menu li {
	position: relative;
}

ul.sub-menu { /* level 2 */
	display: none;
	left: 0;
	top: 100%;
	position: absolute;
	width: 100%;
	z-index: 9999;
	box-sizing: border-box;
	border: 3px solid #5f54dd;
	border-top: 0;
	border-radius: 0 0 5px 5px;
}

ul.sub-menu ul.sub-menu { /* level 3+ */
	margin-top: -1px;
	padding-top: 0;
	left: 149px;
	top: 0px;
}

ul.sub-menu > li > a {
	background-color: #fff;
	border-top: 1px solid #d9d9d9;
	color: #000000;
	display: block;
	font-size: 17px;
	line-height: 21px;
	padding: 10px 12px;
	cursor: pointer;
	text-align: center;
}

ul.sub-menu > li > a:hover {
	background-color: #3d3b4e;
	font-weight: 700;
	color: #fff;
}

ul.sub-menu > li:first-child a {
	border-top-color: #5f54dd;
}

ul.sub-menu ul.sub-menu > li:first-child {
	border-top: 1px solid #444;
}

ul.sub-menu > li:last-child > a {
	border-radius: 0 0 2px 2px;
}

ul.sub-menu > li > a.parent {
	background-image: url(../images/arrow.png);
	background-size: 5px 9px;
	background-repeat: no-repeat;
	background-position: 95% center;
}

#main-menu li:hover > ul.sub-menu {
	display: block; /* show the submenu */
}

.txt_hide {
    position:absolute !important;  
	width:1px; 
	height:1px; 
	overflow:hidden;
	clip:rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip:rect(1px, 1px, 1px, 1px);
}
