@charset "utf-8";

@import "reset.css";

@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 400;
	src: url('../font/NanumGothic.eot');
	src: url('../font/NanumGothic.eot?#iefix') format('embedded-opentype'), 
		url('../font/NanumGothic.woff') format('woff'), 
		url('../font/NanumGothic.ttf') format('truetype');
}
@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 700;
	src: url('../font/NanumGothicBold.eot');
	src: url('../font/NanumGothicBold.eot?#iefix') format('embedded-opentype'), 
		url('../font/NanumGothicBold.woff') format('woff'), 
		url('../font/NanumGothicBold.ttf') format('truetype');
}

/* Scroll Style */
::-webkit-scrollbar {width:8px;height:8px;background:transparent;}/*스크롤 바 영역 전체*/
::-webkit-scrollbar-track {background:transparent;}/*화살표를 제외한 몸통 부분*/
::-webkit-scrollbar-thumb {background:rgba(0,0,0,.2);}/*실제 움직이는 부분*/

/* common */
a {text-decoration:none;}
a:hover {color:#000;}
ol, ul {list-style:none;margin:0;padding:0px;}
strong {font-weight:700;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {transition: background-color 5000s ease-in-out 0s;}
input[type="text"], input[type="password"], input[type="tel"], input[type="email"], textarea {padding:3px 5px;font-size:11px;color:#333;border:1px solid #c9ccd1;box-sizing:border-box;font-family:'NanumGothic', 'dotum', 'sans-serif';color:#333;line-height:1.36em;}
select {padding:3px 5px;font-size:11px;color:#333;border:1px solid #c9ccd1;box-sizing:border-box;font-family:'NanumGothic', 'dotum', 'sans-serif';color:#333;line-height:1.36em;}
input[type="checkbox"], input[type="checkbox"] {width:13px;height:13px;}

/* input[type="checkbox"] {margin:0;width:0;height:0;clip:rect(0 0 0 0);}
input[type="checkbox"]+span {display:inline-block;position:relative;padding-left:13px;min-width:13px;min-height:13px;vertical-align:middle;box-sizing:border-box;}
input[type="checkbox"]+span:before {content:"";display: block;width:13px;height:13px;border:1px solid #afb5b9;border-radius:3px;position:absolute;top:0;left:0;box-sizing:border-box;background-color:#fff;}
input[type="checkbox"]:checked+span:before {background-image: url(../images/img/ico_check.png);background-repeat:no-repeat;background-position:50% 50%;}
th input[type="checkbox"]+span:before {border-color:#fff;} */

.relative {position:relative;}
button, .btn, .btnsStyle {cursor:pointer;}
.txt_hide {position:absolute!important;width:1px;height:1px;overflow:hidden;clip:rect(1px 1px 1px 1px); /* IE6, IE7 */clip:rect(1px, 1px, 1px, 1px);}
.color_red {color:#dc3b21!important;}
.color_blue {color:#2268c6!important;}

.btn.bg_blue {color:#fff!important;background:#1d7abd!important;}
.btn.bg_dgray {color:#fff!important;background:#555!important;}
.btn.bg_skyblue {color:#fff!important;background-color:#3c9fdf!important;}
.btn.bg_gray {color:#fff!important;background-color:#9aa2ad!important;}

body {/*min-width:1200px;*/font-size:11px;font-family:'NanumGothic', 'dotum', 'sans-serif';color:#333;line-height:1.5em;background-color:#ffffff;}
.x-body, .x-column-header, .x-grid-item, .x-panel-body-default {font-family:'NanumGothic', 'dotum', 'sans-serif';}

/* Header */
#header {position:relative;min-height:37px;padding:0 10px;border-bottom:1px solid #dfdfdf;}
.logo_wrap {padding-top:6px;}
.menuA {display:inline-block;margin-top:1px;margin-right:15px;width:23px;height:23px;cursor:pointer;vertical-align:top;}
.all_menu {display:none;position:absolute;z-index:1000;top:37px;left:0;width:150px;box-sizing:border-box;}
.all_menu:before {position:absolute;top:-10px;left:15px;content:"";display:inline-block;width:0;height:0;border-style:solid;border-width:5px;border-color: transparent transparent #566171 transparent;}
.all_menu .pop_inner .list li.current a {margin:0 -12px;padding-left:15px;padding-right:15px;color:#fff;background:#29a9d8;}
.all_menu .pop_inner .list li.current a:before {right:12px;border-color:transparent transparent transparent #fff;}

.utility {position:absolute;top:0;right:10px;min-height:37px;}
.utility > div {float:left;}
.utility .btn_noti {display:inline-block;width:30px;height:37px;font-size:12px;text-align:center;vertical-align:top;}
.utility .btn_noti img {margin-top:11px;}
#userInfo {display:inline-block;padding-right:15px;font-size:12px;line-height:37px;background:url(../images/img/arrow_dw.png) no-repeat 100% 50%;cursor:pointer;}

/* BDSPleft-menu */
#BDSPleft {position:absolute;top:38px;left:0;padding:23px 0;width:150px;min-height:calc(100% - 38px);z-index:10;display:block;background-color:#1d7abd;box-sizing:border-box;}
#BDSPleft-menu .x-panel, #BDSPleft-menu .x-panel-bodyWrap, #BDSPleft-menu .x-panel-body-default-framed, #BDSPleft-menu .x-container, 
#BDSPleft-menu .x-box-inner, #BDSPleft-menu .x-btn-default-small, #BDSPleft-menu .x-btn-inner-default-small {overflow:visible;}
#BDSPleft-menu .x-panel-default-framed {border:0;border-radius:0!important;}
#BDSPleft-menu .x-btn-default-small {display:block;width:100%;border:0;border-radius:0!important;padding:0;background-color:#1d7abd;box-shadow:none!important;}
#BDSPleft-menu .x-btn-inner-default-small {display:block;width:100%;padding:0 0 0 12px;text-align:left;box-sizing:border-box;}
#BDSPleft-menu .x-btn-inner-default-small img {margin:0 8px 4px 0;vertical-align:middle;}
#BDSPleft-menu .x-btn-default-small.current {background-color:#1e599f;}
#BDSPleft-menu .x-btn-default-small.current:before {position:absolute;top:50%;right:-12px;margin-top:-6px;content:"";display:inline-block;width:0;height:0;border-style:solid;border-width:6px;border-color: transparent transparent transparent #1e599f;}

/* bodycontainer */
#bodycontainer {margin-left:150px;padding-left:20px;width:calc(100% - 150px);height:calc(100% - 38px)!important;box-sizing:border-box;}
.content_head {position:relative;z-index:100;padding-top:5px;}
.content_head .tit {position:relative;z-index:2;display:inline-block;padding: 0 10px 0 15px;min-width:100px;line-height:24px;font-size:13px;font-weight:700;color:#fff;text-align:center;background:#267fcd;}
.content_head .tit:after {position:absolute;top:0;right:-15px;content:"";display:inline-block;width:15px;height:24px;vertical-align:top;background:url(../images/img/bg_title_r.png) no-repeat 0 0;}
.content_head .tit.has_submenu:before {content:"▼";position:absolute;top:0;right:10px;font-size:10px;}
.content_head .tit.has_submenu.active:before {content:"▲";}
.content_head h3.tit {display:none;z-index:1;min-width:110px;margin-left:-5px;padding-left:40px;padding-right:20px;background:#4f585f;box-sizing:border-box;}
.content_head h3.tit:after {background-image:url(../images/img/bg_title_sub_r.png);}
.content_head h3.tit.on {display:inline-block;}
.content_head .btns {position:absolute;top:8px;right:12px;}
.content_head .btns .btnsStyle {margin-left:15px;padding:0;font-size:13px;color:#626262;border:0;background:transparent;}
.content_head .btns .btnsStyle img {margin:2px 5px 0 0;vertical-align:top;}
.content_head .submenu {display:none;position:relative;top:100%;left:0;padding:5px 18px;width:100%;border:2px solid #267fcd;background-color:#fff;box-sizing:border-box;}
.content_head .submenu.active {display:block;}
.content_head .submenu .menuBtn {position:relative;display:inline-block;min-width:26px;margin-right:20px;padding-left:12px;font-size:12px;color:#333;line-height:20px;border:0;background:transparent;box-sizing:border-box;}
.content_head .submenu .menuBtn:before {position:absolute;top:8px;left:0;content:"";display:block;width:4px;height:4px;background:#267fcd;}

#bodycontainer > iframe {width:100%!important;height:100%!important;}

/* ContentsDiv */
#ContentsDiv {margin:0!important;}
.scroll_wrap {overflow:auto;width:100%;height:500px;}
#ContentsDiv > .float_left {margin-top:1px;}

/* popup */
.pop_wrap {display:none;position:absolute;right:0;top:37px;z-index:200;border:1px solid #566171;background:#fff;box-sizing:border-box;}
.pop_wrap .pop_inner {padding:15px 12px;box-sizing:border-box;}
.pop_wrap .pop_inner .tit {margin-bottom:10px;font-size:12px;font-weight:700;color:#333;}
.pop_wrap .tit > * {font-weight:400;color:#333;}
.pop_wrap .tit > .on {font-weight:700;color:#1d7abd;}
.pop_wrap .tit > span:before {content:"";display:inline-block;margin:0 8px;width:1px;height:10px;font-size:0;background:#656565;vertical-align:middle;}

.pop_wrap .pop_inner ul.list li {border-top:1px solid #eaedef;}
.pop_wrap .pop_inner ul.list li:first-child {border-top:0;}
.pop_wrap .pop_inner ul.list li a {display:block;position:relative;padding:5px 3px;font-size:11px;color:#333;cursor:pointer;}
.pop_wrap .pop_inner ul.list li a:before {position:absolute;top:50%;right:0;margin-top:-3px;content:"";display:inline-block;width:0;height:0;border-style:solid;border-width:3px;border-color:transparent transparent transparent #60a2d1;}

.pop_wrap .pop_inner .list_input {margin-bottom:11px;}
.pop_wrap .pop_inner .list_input li {overflow:hidden;margin-top:7px;padding:0 4px;}
.pop_wrap .pop_inner .list_input li > * {float:left;}
.pop_wrap .pop_inner .list_input li label {width:62px;font-size:11px;line-height:23px;}
.pop_wrap .pop_inner .list_input li input {width:136px;font-size:11px;}
.pop_wrap .pop_inner .list_input li select {width:136px;font-size:11px;}
.pop_wrap .pop_inner .list_input li label .req {display:inline-block;overflow:hidden;margin-bottom:2px;margin-left:5px;width:4px;height:4px;border-radius:4px;background:#267fcd;}
.pop_wrap .pop_inner .btm {padding:10px 0 0;border-top:2px solid #8995a5;text-align:center;}
.pop_wrap .pop_inner .btm .btn {min-width:52px;margin:0 3px;padding:0 12px;font-size:11px;line-height:22px;text-align:center;border:0;}
.pop_wrap .btn_close {position:absolute;top:10px;right:10px;display:block;padding:10px;width:10px;height:9px;background:url(../images/img/ico_x.png) no-repeat 50% 50%;border:0;}

.noti_pop.pop_wrap {position:absolute;right:0;min-width:244px;box-sizing:border-box;}
.noti_pop.pop_wrap:before {position:absolute;top:-10px;right:120px;content:"";display:inline-block;width:0;height:0;border-style:solid;border-width:5px;border-color: transparent transparent #566171 transparent;}
.noti_pop.pop_wrap .pop_inner .tit {margin-bottom:8px;}

.user_pop.pop_wrap {right:0;width:178px;box-sizing:border-box;}
.user_pop.pop_wrap .pop_inner {padding:14px 18px;}
.user_pop.pop_wrap:before {position:absolute;top:-10px;left:105px;content:"";display:inline-block;width:0;height:0;border-style:solid;border-width:5px;border-color: transparent transparent #566171 transparent;}

.user_pw_pop.pop_wrap {width:286px;}
.user_pw_pop.pop_wrap .pop_inner .list_input li {padding:0;}
.user_pw_pop.pop_wrap .pop_inner .list_input li label {width:100px;}
.user_pw_pop.pop_wrap .pop_inner .list_input li input {width:160px;}
.user_pw_pop .txt_info {padding:10px;font-size:11px;line-height:1.2em;color:#9aa0a7;border-top:1px solid #e7e9e9;background-color:#f6f7f7;}

.user_input_pop.pop_wrap {width:244px;}
.user_input_pop.pop_wrap .pop_inner {padding-left:18px;padding-right:18px;}

.user_mgt_pop.pop_wrap {width:1200px;}
.user_mgt_pop.pop_wrap .pop_inner .list_input li {display:inline-block;padding-left:9px;padding-right:0;}
.user_mgt_pop.pop_wrap .pop_inner .list_input li:first-child {padding-left:0;}
.user_mgt_pop.pop_wrap .pop_inner .list_input li > * {float:none;display:inline-block;}
.user_mgt_pop.pop_wrap .pop_inner .list_input li label {padding-right:5px;width:auto;}
.user_mgt_pop.pop_wrap .pop_inner .list_input li input, .user_mgt_pop.pop_wrap .pop_inner .list_input li select {width:90px;}
.user_mgt_pop.pop_wrap .pop_inner .list_input li.btm {border:0;text-align:left;}
.user_mgt_pop.pop_wrap .pop_inner .list_input li.btm .btn {min-width:48px;margin:0 0 0 5px;}
.user_mgt_pop.pop_wrap .pop_inner .list_input li.btm .btn:first-child {margin-left:0;}
.user_mgt_pop.pop_wrap .x-column-header {border-color:#188cc8;background-color:#28a9d7;}
.user_mgt_pop.pop_wrap .x-panel-body-default {border:0;background:#fff;}
.user_mgt_pop.pop_wrap .x-toolbar-default {border:0!important;background-color:#e7e7e7;}

/* table style */
table {width:100%;}
.x-column-header {color:#fff;border-color:#737d89;background-color:#8995a5;}
.x-column-header-checkbox {border-color:#737d89;}
.x-column-header-inner, .x-group-sub-header .x-column-header-inner {padding:5px;font-size:12px;}
.x-column-header-over {background-color:#8995a5;}
.x-column-header.x-column-header-focus {color:#fff;}
.x-column-header-checkbox .x-column-header-checkbox:after, .x-grid-checkcolumn:after {background-image:url(../images/img/ico_check_all.png);}
.x-grid-with-row-lines .x-grid-item,
.x-grid-with-col-lines .x-grid-cell {border-color:#e7e7e7;}
.x-toolbar-footer input {border:0!important;}
.x-grid-item {font-size:13px;}
.x-grid-row {height:31px;}
.x-grid-cell {padding-top:3px;padding-bottom:3px;}

.table_style1 th, .table_style1 td {padding:4px 8px;font-size:11px;text-align:center;}
.table_style1 th {border-right:1px solid #188cc8;color:#fff;background:#28a9d7;}
.table_style1 th:last-child, .table_style1 td:last-child {border-right:0;}
.table_style1 td {border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;}

/* paging - new */
.paging {padding:14px 0;text-align:center;}
.paging > * {display:inline-block;margin:0 2px;min-width:17px;font-size:11px;line-height:17px;color:#010101;vertical-align:middle;}
.paging .on {color:#fff;background:#8995a5;}
.paging .nav_prev {margin-right:6px;}
.paging .nav_next {margin-left:6px;}
.paging .nav_prev i {display:inline-block;width:6px;height:10px;background:url(../images/img/arrow_paging.png) no-repeat 0 50%;vertical-align:middle;}
.paging .nav_next i {display:inline-block;width:6px;height:10px;background:url(../images/img/arrow_paging.png) no-repeat 100% 50%;vertical-align:middle;}

/* checkbox -> button */
.check_btns input[type="checkbox"] {margin:0;width:0;height:0;clip:rect(0 0 0 0);}
.check_btns input[type="checkbox"] + label {display:inline-block;width:60px;border:1px solid #c9ccd1;border-left:0;font-size:11px;line-height:21px;color:#4597d2;text-align:center;cursor:pointer;}
.check_btns input[type="checkbox"]:checked + label {background:#008ae1;color:#fff;}
.check_btns input[type="checkbox"]:first-child + label {border-left:1px solid #c9ccd1;}
.check_btns.check_w90 input[type="checkbox"] + label {width:90px;}

/* searchbox */
.calendar label {display:inline-block;margin:2px 15px 0 5px;height:19px;cursor:pointer;vertical-align:top;}
.searchbox {display:none;width:820px;padding:10px 0 0;border:2px solid #dee2ea;box-sizing:border-box;}
.searchbox.pop_wrap {position:absolute;top:29px;right:0;}
.searchbox ul {margin-bottom:15px;padding:0 50px;}
.searchbox ul li {overflow:hidden;margin-bottom:7px;line-height:23px;}
.searchbox ul li .label {float:left;width:99px;vertical-align:top;}
.searchbox ul li .cont {float:left;width:calc(100% - 82px);}
.searchbox ul li select {width:123px;}
.searchbox .btm {margin-top:10px;text-align:center;min-height:32px;border-top:1px solid #e2e2e3;background:#f6f7fc;}
.searchbox .btm .btn {margin:6px 2px;padding:3px 10px;font-size:12px;text-align:center;border:0;background:transparent;vertical-align:middle;}
.searchbox .btm .btn img {margin-top:2px;vertical-align:top;}
 
.check_right label {margin-right:18px;}
.check_right input[type="checkbox"] {margin:0;width:0;height:0;clip:rect(0 0 0 0);}
.check_right input[type="checkbox"]+span {display:inline-block;position:relative;padding-left:0;padding-right:23px;min-width:18px;min-height:18px;vertical-align:middle;box-sizing:border-box;}
.check_right input[type="checkbox"]+span:before {content:"";display: block;width:18px;height:18px;border:1px solid #afb5b9;border-radius:0;position:absolute;top:3px;left:auto;right:0;box-sizing:border-box;background-color:#fff;}
.check_right input[type="checkbox"]:checked+span:before {border-color:#008ae1;background-image: url(../images/img/ico_check2.png);background-repeat:no-repeat;background-position:50% 50%;}

/* box-style */
.float_left {float:left;padding-right:10px;box-sizing:border-box;}
.float_right {float:right;}
.center {text-align:center!important;}
.left {text-align:left!important;}
.right {text-align:right!important;}

.box_head {position:relative;font-size:11px;font-weight:700;line-height:28px;color:#fff;background:#8995a5;text-align:center;}
.box_head.bg_type1 {color:#555;background:#eff1f6;}
.box_style table {border-top:1px solid #e7e7e7;border-left:1px solid #e7e7e7;}
.box_style table th, .box_style table td {padding:6px 5px 5px;border-bottom:1px solid #e7e7e7;border-right:1px solid #e7e7e7;font-size:11px;color:#555;text-align:center;vertical-align:middle;}
.box_style table tr.bg th, .box_style table tr.bg td {background:#eff1f6!important;}
.box_style table tr:hover th, .box_style table tr:hover td, .box_style table tr:focus th, .box_style table tr:focus td {background:#d4e1f7;}
.box_scroll {overflow-x:auto;border:1px solid #e7e7e7;border-top:0;box-sizing:border-box;}
.box_scroll table {border-left:0;}
.box_scroll table td:last-child {border-right:0;}
.box_body .box_scroll table {border-top:0;}

/* survey_tabs */
.survey_tabs {position:relative;overflow:hidden;padding:0 18px;background:#5579cd;}
.survey_tabs .survey_btns {position:relative;float:left;padding:0 0 8px;box-sizing:border-box;}
.survey_tabs .survey_btns:before {content:"";display:block;width:0;height:100%;position:absolute;top:0;right:0;border-left:1px solid #0e4587;}
/* .survey_tabs .survey_btns:first-child:before {display:none;} */
.survey_tabs .survey_btns h3 {font-size:11px;font-weight:700;color:#fff;line-height:28px;text-align:center;}
.survey_tabs .survey_btns button {float:left;padding:0 10px;min-width:50px;height:29px;font-size:11px;color:#555;border:1px solid #e7e7e7;border-right:0;border-bottom:0;background:#fff;box-sizing:border-box;}
.survey_tabs .slide_wrap {overflow:hidden;}
.survey_cont {border:2px solid #393e48;border-top:0;}
.survey_cont table th, .survey_cont table td {padding:6px 5px 5px;border-bottom:1px solid #d6d6d6;border-left:1px solid #d6d6d6;font-size:11px;color:#555;text-align:center;vertical-align:middle;}
.survey_cont table th:first-child, .survey_cont table td:first-child {border-left:0;}
.survey_cont table tr th {padding-left:0;padding-right:0;background:#eff1f6;}

/* .survey_cont label {margin-right:18px;} */
.survey_cont input[type="radio"] {margin:0;width:0;height:0;clip:rect(0 0 0 0);}
.survey_cont input[type="radio"]+span {display:inline-block;position:relative;padding-left:0;width:14px;height:14px;vertical-align:middle;box-sizing:border-box;background:#e8eaeb;border-radius:14px;cursor:pointer;}
.survey_cont input[type="radio"]+span:before {content:"";display: block;width:8px;height:8px;border-radius:8px;position:absolute;top:3px;left:3px;}
.survey_cont input[type="radio"]:checked+span:before {background:#5579cd;}

.survey_btm {padding:10px 35px;font-size:11px;color:#555;}
.survey_btm .score {display:inline-block;min-width:40px;}

.slide_nav .btn {position:absolute;top:28px;z-index:10;display:block;width:18px;height:29px;cursor:pointer;}
.slide_nav .btn_prev {left:0;background:url(../images/img/arrow_left.png) no-repeat 50% 50%;}
.slide_nav .btn_next {right:0;background:url(../images/img/arrow_right.png) no-repeat 50% 50%;}
.slide_wrap {position:relative;height:64px;}
.slide_inner {position:absolute;}

/* 드롭다운 추가 */
.dropdown {position:relative;display:inline-block;margin-left:5px;vertical-align:top;}
.dropdown #dropdown {background-position:10px 50%;}
.dropdown .dropdown_cont {display:none;position:absolute;top:100%;left:0;z-index:100;min-width:104px;border:1px solid #55687c;box-sizing:border-box;box-shadow:1px 3px 5px #ccc;background:#fff;}
.dropdown .dropdown_cont input {display:block;margin:0;padding:0 13px;width:100%;height:30px;background:transparent;text-align:left;border:0;cursor:pointer;border-radius:0;box-shadow:none;}
.dropdown .dropdown_cont input:hover {background-color:#c2ddf2;}
.dropdown:hover .dropdown_cont {display:block;}

/* 데이터 통합 - 정보 보더 컬러 */
.border_color1 {display:inline-block;padding:0 5px;min-width:26px;height:15px;line-height:14px;font-size:11px;color:#fff;text-align:center;border:1px solid #2c9fc8;border-radius:30px;box-sizing:border-box;margin:1.5px 2px;background:#49b4e5;}
.border_color2 {display:inline-block;padding:0 5px;min-width:26px;height:15px;line-height:14px;font-size:11px;color:#fff;text-align:center;border:1px solid #b0bdc4;border-radius:30px;box-sizing:border-box;margin:1.5px 2px;background:#c6ced3;}
.border_color3 {display:inline-block;padding:0 5px;min-width:26px;height:15px;line-height:14px;font-size:11px;color:#fff;text-align:center;border:1px solid #d8b635;border-radius:30px;box-sizing:border-box;margin:1.5px 2px;background:#ebcc56;}
.icon_num {display:inline-block;padding:0;min-width:21px;height:14px;font-size:6px;color:#fff;text-align:center;border-radius:3px;box-sizing:border-box;margin:1.5px 1px;background:#8cd4f5;}
/* 대상자 정보 관리 */
.x-grid-cell input[type="text"] {border:0;}

/* 팝업 : 업로드 */
.x-window-default {border:1px solid #566171;border-radius:0;}
.x-window .x-tool-close {background-image:url(../images/img/ico_x2.png);background-color:transparent;}
.x-window .x-window-header-default {background:none;border:0;}
.x-window .x-window-header-title-default > .x-title-text-default {padding-top:5px;padding-left:10px;font-size:12px;font-weight:700;color:#1d7abd;text-align:left;}
.x-window .x-form-item-label-text {font-size:11px;color:#333;}
.x-window .x-panel-default-framed {border:0;padding-top:10px!important;}
.x-window .x-form-file-btn {margin-left:0!important;width:100%;border-radius:0;border:1px solid #a1a1a1;background-color:#a1a1a1;}
.x-window .x-form-file-btn .x-btn-inner-default-small {font-size:11px;}
.x-window .x-form-item-label-default {font-size:11px;color:#333;}
.x-window .x-toolbar-footer {width:auto!important;padding:12px 0 15px;background:none;}
.x-window .x-toolbar-footer .x-btn {background:#555;border-color:#555;border-radius:0;}
.x-window .x-toolbar-footer .x-btn.btn_color {background:#1d7abd;border-color:#1d7abd;}
.x-window .x-toolbar-footer:before {position:relative;top:-12px;content:"";display:block;margin:0 auto;width:90%;border-top:2px solid #8995a5;}

/* 기존 페이징 스타일 교체 */
.x-toolbar-footer {background-color:#dbe6f5;border-color:#dbe6f5!important;}
.x-toolbar-text-default {color:#333;}
.x-toolbar-footer  .x-form-trigger-wrap-default {border-color:#828d9d;}
.x-btn-icon-el.x-tbar-page-first {background-image:url(../images/grid/page-first.png);}
.x-btn-icon-el.x-tbar-page-prev {background-image:url(../images/grid/page-prev.png);}
.x-btn-icon-el.x-tbar-page-last {background-image:url(../images/grid/page-last.png);}
.x-btn-icon-el.x-tbar-page-next {background-image:url(../images/grid/page-next.png);}
.x-btn-icon-el.x-tbar-loading {background-image:url(../images/grid/refresh.png);}

/* tooltip */
div.x-tip-default {padding:10px 20px;font-size:12px;background-color:#eff7ff;border-color:#8dabcd;box-shadow:-5px 3px 0 rgba(124,154,190,0.2);border-radius:0;}
div.x-tip-default:before {content:"";position:absolute;top:-6px;left:7px;display:block;width:11px;height:6px;background:url(../images/img/tooltip_arrow_top.png) no-repeat 0 0;}
/* div.x-tip-default .x-tip-anchor {width:6px;height:11px;background:url(../images/img/tooltip_arrow.png) no-repeat 0 0;border:0;}
div.x-tip-default .x-tip-anchor:after {display:none!important;}
div.x-tip-default .x-tip-anchor-top {background-image:url(../images/img/tooltip_arrow_top.png);top:-16px;}
div.x-tip-default .x-tip-anchor-bottom {background-image:url(../images/img/tooltip_arrow_top.png);transform:rotate(180deg);bottom:-16px;}
div.x-tip-default .x-tip-anchor-left {left:-16px;}
div.x-tip-default .x-tip-anchor-right {transform:rotate(180deg);right:-16px;} */

div.x-tip-default table {border-spacing:0;border-top:2px solid #000;}
div.x-tip-default table th, div.x-tip-default table td {padding:5px 8px;border-right:1px solid #d5d8dd;border-bottom:1px solid #d5d8dd;font-size:14px;font-family:'NanumGothic',helvetica, arial, verdana, sans-serif;color:#000;text-align:center;}
div.x-tip-default table thead th:last-child, div.x-tip-default table td:last-child {border-right:0;}
div.x-tip-default table th {background-color:#eeedf2;}
div.x-tip-default table tbody th {background-color:#eeedf2;}
div.x-tip-default table thead + tbody th {background-color:#f4f9ff;}
.x-css-shadow {display:none!important;}

/*  grid responsive
============================================================================================ */
.x-panel-body-default {width:100%!important;}
/* .x-panel-default {width:100%!important;} 락 걸었을 때 이슈로 삭제*/
.x-grid-header-ct {width:100%!important;}
/* .x-box-inner {width:100%!important;} 스크롤 문제로 삭제*/
/* .x-grid-view {width:100%!important;} 스크롤 문제로 삭제*/
.x-toolbar-footer {width:100%!important;}



/*  OLD : Del
============================================================================================ */

#BDSPleft .menu a {position:relative;display:block;padding:14px 12px;font-size:12px;color:#fff;}
#BDSPleft .menu a img {vertical-align:top;margin-right:12px;}
#BDSPleft .menu a .text {display:inline-block;line-height:22px;}
#BDSPleft .menu a.on {background:#1e599f;}
#BDSPleft .menu a.on:before {position:absolute;top:50%;right:-12px;margin-top:-6px;content:"";display:inline-block;width:0;height:0;border-style:solid;border-width:6px;border-color: transparent transparent transparent #1e599f;}